h1{
    color:red;
    background-color:black;
    font-family: verdana;
    font-size: 300%;
    margin: 50px;
}
h2{
    color:#ff00ff;
    background-color: powderblue;
    font-family: courier;
    font-size: 160%;
}
h3{
    border: 2px solid powderblue;
    padding: 30px;
}